doctype html
html(ng-app)
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')

    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/bootstrap.min.js')
    script(src='/scripts/angular.min.js')
  body
    .container
      block body
