extends base

block body
  div(ng-controller='MemberCtrl')
    header.page-header
      h2
        a(href='/department', title='返回')
          span.glyphicon.glyphicon-arrow-left.margin-right
        span {{department.name}}
        .pull-right.btn-group.tools
          button.btn.btn-primary(title='添加成员', data-toggle='modal', data-target='#add-member')
            span.glyphicon.glyphicon-plus()
          button.btn.btn-warning(title='编辑部门名称', data-toggle='modal', data-target='#edit-department')
            span.glyphicon.glyphicon-pencil
          button.btn.btn-danger(title='删除部门', data-toggle='modal', data-target='#remove-department')
            span.glyphicon.glyphicon-trash
          button.btn.btn-success(title='保存', ng-click='putData()')
            span.glyphicon.glyphicon-cloud-upload
          button.btn.btn-info(title='查看值班表', data-toggle='modal', data-target='#arrangement')
            span.glyphicon.glyphicon-th

    .members.row
      section.member.col-sm-6.col-lg-4.col-sm-offset-3.col-lg-offset-4(ng-repeat='member in department.members')
        .input-group.form-group
          span.input-group-addon
            span.glyphicon.glyphicon-user
          input.form-control(type='text', ng-model='member.name', placeholder='姓名')
        .input-group.form-group
          span.input-group-addon
            span.glyphicon.glyphicon-phone
          input.form-control(type='text', ng-model='member.phone', placeholder='手机号码')

        section.row(ng-repeat='time in member.times')
          .form-group.col-xs-2
            input.form-control.input-sm(type='text', ng-model='time.week')
          .form-group.col-xs-8
            input.form-control.input-sm(type='text', ng-model='time.lessons')
          .form-group.col-xs-2
            button.btn.btn-danger.btn-sm(title='删除空余时间', ng-click='removeTime(member.times, time)')
              span.glyphicon.glyphicon-trash
        .btn-group
          button.btn.btn-primary.btn-sm(title='添加空余时间', ng-click='addTime(member.times)')
            span.glyphicon.glyphicon-plus
          button.btn.btn-danger.btn-sm(title='删除成员', ng-click='removeMember(department.members, member)')
            span.glyphicon.glyphicon-trash
        hr

    +modal('edit-department', '修改部门名称', 'pencil', 'sm')
      input.form-control(type='text', ng-model='department.name')

    +modal('add-member', '添加成员', 'plus', 'sm')
      .input-group.form-group
        span.input-group-addon
          span.glyphicon.glyphicon-user
        input.form-control(type='text', ng-model='memberName', placeholder='姓名')
      .input-group.form-group
        span.input-group-addon
          span.glyphicon.glyphicon-phone
        input.form-control(type='text', ng-model='memberPhone', placeholder='手机号码')
      .form-group
        button.btn.btn-primary.btn-block(data-dismiss='modal', ng-click='addMember()')
          span.glyphicon.glyphicon-plus

    +modal('remove-department', '删除部门', 'trash', 'sm')
      button.btn.btn-danger.btn-block(ng-click='removeDepartment()')
        span.glyphicon.glyphicon-exclamation-sign.margin-right
        span 删除{{department.name}}

    +modal('arrangement', '值班安排表', 'th', 'lg')

  script(src='/scripts/controllers/member.js')

mixin modal(id, title, icon, size)
  .modal.fade(id=id)
    .modal-dialog(class='modal-' + size)
      .modal-content
        .modal-header
          button.close(data-dismiss='modal') &times;
          h4.modal-title
            span.glyphicon.margin-right(class='glyphicon-' + icon)
            = title
        .modal-body
          block
